.content {
  width: 35%;
  margin: 50px;
}

.content a img {
  width: 300px;
  height: 270px;
}

.title {
  text-align: center;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.explanation {
  white-space: pre-wrap;
  word-wrap: break-word;
}
