@charset "UTF-8";
body {
  font-size: 14px;
  color: #333;
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  line-height: 1.9;
}

a {
  color: #333;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 50px;
  font-family: 'Lato', sans-serif;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 25px;
}

.fab {
  font-size: 100px;
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #6C6C6C;
}

header {
  max-width: 960px;
  margin: 50px auto;
  position: relative;
  height: 270px;
}

header h1 img {
  position: absolute;
  top: 100px;
  height: 100px;
}

.header__social {
  position: absolute;
  top: 130px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__social li {
  margin-right: 20px;
}

.header__social li a {
  color: #333;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 30px;
}

.header__nav li {
  margin-right: 50px;
}

.header__nav li a:hover {
  text-decoration: underline;
}

.main__pc img {
  width: 100%;
  height: 580px;
}

.main__profile {
  padding: 50px 0;
  margin: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__profile__img {
  width: 350px;
  padding: 0 5%;
}

.main__profile__text {
  width: 50%;
  padding: 0 5%;
}

.main__profile__text h3 {
  margin-bottom: 25px;
}

.main__skills {
  max-width: 960px;
  margin: 50px auto;
}

.main__skills h2 {
  text-align: center;
  font-weight: 100;
}

.main__skills__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 65px 0;
}

.main__works {
  max-width: 960px;
  margin: 50px auto;
  text-align: center;
}

.main__works__contents {
  margin: 65px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__works__contents__item {
  width: 33%;
  margin: 0 3%;
}

.main__works__contents__item img {
  width: 300px;
  height: 250px;
}

.main__contact {
  max-width: 960px;
  margin: 50px auto;
  text-align: center;
}

footer {
  margin: 200px auto 50px auto;
  max-width: 960px;
}

footer a {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.footer__contents p {
  text-align: right;
  font-size: 10px;
}

@media only screen and (min-width: 760px) {
  header {
    max-width: 920px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 760px) {
  header h1 {
    text-align: center;
  }
  header h1 img {
    top: 0;
    position: relative;
    height: auto;
    width: 50%;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
  .header__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    border-top: 1px solid #d9d9d9;
    position: relative;
    bottom: 0;
    margin: 25px 0;
  }
  .header__nav li {
    text-align: center;
    padding: 12px 0;
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    margin: 0;
    border-bottom: 1px solid #d9d9d9;
  }
  .header__nav li:nth-child(odd) {
    border-right: 1px solid #d9d9d9;
  }
  .header__social {
    position: relative;
    top: 0;
    right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__pc img {
    height: auto;
  }
  .main__profile {
    display: block;
    margin: 0;
  }
  .main__profile__img {
    width: 250px;
    margin: 0 auto;
  }
  .main__profile__text {
    width: 80%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
  .main__profile__text p {
    text-align: left;
  }
  .main__skills {
    margin: 0;
  }
  .main__skills__contents {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .main__skills__contents__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 50px;
  }
  .main__skills__contents__item:last-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .main__works__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__works__contents__item {
    width: 100%;
    margin: 0 0 50px 0;
  }
  .main__works__contents__item p {
    margin: 0 auto;
    width: 70%;
  }
  .main__works__contents__item img {
    height: 300px;
  }
  .main__contact p {
    margin: 0 auto;
    width: 70%;
  }
  footer {
    margin-top: 0;
  }
  .footer__contents p {
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  body {
    min-width: 350px;
  }
}
/*# sourceMappingURL=style.css.map */